<div class="flex-row">
    <div class="flex-button-container">
        <div class="flex-button flex-empty-half-button"></div>
        <div class="flex-button flex-empty-button"></div>
        <div class="flex-button flex-empty-button"></div>
        <div class="flex-button">
            {{fa-icon "arrow-up" size=4}}
        </div>
        <div class="flex-button flex-empty-button"></div>
        <div class="flex-button flex-empty-button"></div>
        <div class="flex-button flex-empty-half-button"></div>
    </div>
</div>
<div class="flex-row">
    <div class="flex-button-container">
        <div class="flex-button flex-empty-button"></div>
        <div class="flex-button">
            {{fa-icon "arrow-left" size=4}}
        </div>
        <div class="flex-button">
            {{fa-icon "rotate-left" size=4}}
        </div>
        <div class="flex-button">
            {{fa-icon "rotate-right" size=4}}
        </div>
        <div class="flex-button">
            {{fa-icon "arrow-right" size=4}}
        </div>
        <div class="flex-button flex-empty-button"></div>
    </div>
</div>
<div class="flex-row">
    <div class="flex-button-container">
        <div class="flex-button flex-empty-half-button"></div>
        <div class="flex-button flex-empty-button"></div>
        <div class="flex-button flex-empty-button"></div>
        <div class="flex-button">
            {{fa-icon "arrow-down" size=4}}
        </div>
        <div class="flex-button flex-empty-button"></div>
        <div class="flex-button flex-empty-button"></div>
        <div class="flex-button flex-empty-half-button"></div>
    </div>
</div>